## 시골쥐와 도시쥐  
health data  
가설 
1. **'도시쥐'의 스트레스와 정신 건강 악화 가설:**
    - **가설 1-1 (라이프스타일):** 
    대도시(`City`) 거주자는 중소도시/시골 거주자에 비해 `Sleep Duration`이 짧고, `Dietary Habits`이 불규칙하며, `Work/Study Hours`가 길 가능성이 높다.
    - **가설 1-2 (정신 건강 지표):** 
    이러한 대도시의 라이프스타일 패턴은 `Academic Pressure`, `Work Pressure`, `Financial Stress`와 결합하여 `Depression` 발생률 및 `Have you ever had suicidal thoughts ?` 경험률을 높이고, `Study Satisfaction` 및 `Job Satisfaction`을 낮출 것이다.
2. **'시골쥐'의 평화와 회복탄력성 가설:**
    - **가설 2-1 (라이프스타일):** 
    중소도시/시골 거주자는 대도시 거주자에 비해 상대적으로 건강한 `Sleep Duration`, `Dietary Habits`, `Work/Study Hours` 패턴을 보일 것이다.
    - **가설 2-2 (정신 건강 지표):** 
    이러한 라이프스타일 패턴은 `Depression` 및 `Have you ever had suicidal thoughts ?` 경험률을 낮추고, `Study Satisfaction` 및 `Job Satisfaction`을 높이는 데 기여할 것이다.

In [37]:
import pandas as pd

In [38]:
path_train=r"C:\Users\USER\Downloads\train.csv"
path_test=r"C:\Users\USER\Downloads\test (2).csv"
train_df = pd.read_csv(path_train)
test_df=pd.read_csv(path_test)

In [39]:
train_df.head(10)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
5,5,Vani,Female,59.0,Ahmedabad,Working Professional,Finanancial Analyst,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0
6,6,Ritvik,Male,47.0,Thane,Working Professional,Chemist,NaN,5.0,NaN,NaN,2.0,7-8 hours,Moderate,MD,No,6.0,2.0,No,0
7,7,Rajveer,Male,38.0,Nashik,Working Professional,Teacher,NaN,3.0,NaN,NaN,4.0,7-8 hours,Unhealthy,B.Pharm,No,10.0,3.0,Yes,0
8,8,Aishwarya,Female,24.0,Bangalore,Student,NaN,2.0,NaN,5.90,5.0,NaN,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
9,9,Simran,Female,42.0,Patna,Working Professional,Electrician,NaN,4.0,NaN,NaN,1.0,5-6 hours,Healthy,ME,Yes,7.0,2.0,Yes,0

In [40]:
test_df.head(10)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No
5,140705,Kartik,Male,29.0,Mumbai,Working Professional,Customer Support,NaN,2.0,NaN,NaN,3.0,More than 8 hours,Moderate,B.Com,No,3.0,2.0,Yes
6,140706,Armaan,Male,47.0,Visakhapatnam,Working Professional,Teacher,NaN,1.0,NaN,NaN,1.0,Less than 5 hours,Healthy,MA,No,10.0,3.0,Yes
7,140707,Ritika,Female,28.0,Mumbai,Working Professional,Customer Support,NaN,5.0,NaN,NaN,3.0,7-8 hours,Healthy,BA,Yes,0.0,2.0,No
8,140708,Navya,Female,21.0,Surat,Student,NaN,1.0,NaN,7.39,3.0,NaN,Less than 5 hours,Healthy,BBA,No,8.0,1.0,Yes
9,140709,Harsha,Male,21.0,Jaipur,Working Professional,NaN,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,4.0,No

In [41]:
print(train_df.shape)
print(train_df.info())
print(train_df.describe())

(140700, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB
None
                  id            Age  Academic Pressure  Work Pressure  \
count  140700.000000  140700.000000       27897.000000  112782.000000
mean    70349.500000      40.388621           3.142273       2.998998
std     40616.735775      12.384099           1.380457       1.405771
min         0.000000      18.000000           1.000000       1.000000
25%     35174.750000      29.000000           2.000000       2.000000
50%     70349.500000      42.000000           3.000000       3.000000
75%    105524.250000      51.000000           4.000000       4.000000
max    140699.000000      60.000000           5.000000       5.000000

               CGPA  Study Satisfaction  Job Satisfaction  Work/Study Hours  \
count  27898.000000        27897.000000     112790.000000     140700.000000
mean       7.658636            2.944940          2.974404          6.252679
std        1.464466            1.360197          1.416078          3.853615
min        5.030000            1.000000          1.000000          0.000000
25%        6.290000            2.000000          2.000000          3.000000
50%        7.770000            3.000000          3.000000          6.000000
75%        8.920000            4.000000          4.000000         10.000000
max       10.000000            5.000000          5.000000         12.000000

       Financial Stress     Depression
count     140696.000000  140700.000000
mean           2.988983       0.181713
std            1.413633       0.385609
min            1.000000       0.000000
25%            2.000000       0.000000
50%            3.000000       0.000000
75%            4.000000       0.000000
max            5.000000       1.000000

In [42]:
train_df.drop(columns=['id', 'Name', 'Profession'], inplace=True, errors='ignore')

주요한 features 골라보기
수면 시간, 식습관, 학업 스트리스, 일 스트레스, 일하는 시간, 지역  

lifestyle={Sleep Duration 수면시간 (수치형), Dietary Habits	식습관 (범주형), Work/Study Hours}

스트레스 요인={cademic Pressure, Work Pressure, Financial Stress}

정신건강 지표={Depression, Have you ever had suicidal thoughts ?}

만족도={Study Satisfaction, Job Satisfaction 1~10 만족도}

### 수면 시간 문자열을 수치형으로 변환

In [43]:
sleep_map = {
    'Less than 5 hours': 4.5,
    '5-6 hours': 5.5,
    '6-7 hours': 6.5,
    '7-8 hours': 7.5,
    'More than 8 hours': 9.0
}
train_df['Sleep Duration'] = train_df['Sleep Duration'].map(sleep_map)

### 도시 / 시골 분류

In [56]:
city_counts = train_df['City'].value_counts()
filtered_city_counts = city_counts[city_counts >= 10].head(30)

print(len(filtered_city_counts))

30

City가 30개까진 충분히 샘플이 많고 >> 그 외 도시들은 너무 적은 샘플 (7명, 5명...) → 통계적으로 신뢰 어려움

In [45]:
top_30_city = train_df['City'].value_counts().head(30).index.tolist()

df_top30 = train_df[train_df['City'].isin(top_30_city)].copy()

df_top30.to_csv("filtered_top30_cities.csv", index=False)